#header {
    .container {
        align-items: center;    

        .brand {
            display: flex;
            img {
                height: 50px;
                padding-right: 10px;
            }
        }
    }
}